@font-face {
    font-family: 'FontsFree-Net-SF-Compact-Rounded-Bold';
    src: url(./FontsFree-Net-SF-Compact-Rounded-Bold.ttf);
}

body {
    background-color: #8ee08e;
}

.test1 {
    background-color: palevioletred;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    width: 100px;
    height: 50px;
    float: center;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'FontsFree-Net-SF-Compact-Rounded-Bold';
}

.test {
    background-color: skyblue;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    width: 100px;
    height: 50px;
    float: center;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-family: 'FontsFree-Net-SF-Compact-Rounded-Bold';
}

.pic {
    margin-top: 20%;
    margin-left: 5%;
}